body {
	background-color: #fff;
	font-family: verdana, arial, helvetica, sans-serif;
	color: @color-body;
	padding-top: 70px;
}

h1 {
	font-size: 54px;
	line-height: 60px;
	font-weight: bold;
}

h2 {
	font-size: 24px;
	font-weight: bold;
}

h3 {
	font-size: 16px;
	font-weight: bold;
	line-height: 20px;
}

.color-darkgreen {
	color: @color-darkgreen;
}

@media print {
	#header {
		display: none;
	}
}

.btn-block {
	margin-bottom: 1em;
}

.btn-block {
	padding-top: 1.5em;
	padding-bottom: 1.5em;
}